/* Element Chalk Variables */
//使用方法 ：
//安装工具  npm i element-theme -g
//安装主题  npm i element-theme-chalk -D
//执行命令  et -i [可以自定义变量文件]
//          > ✔ Generator variables file
//执行后当前目录会有一个 element-variables.scss 
//直接编辑 element-variables.scss 文件
//编译主题  et
//          > ✔ build theme font
//          > ✔ build element theme
//引入自定义主题
//import '../theme/index.css'
//import ElementUI from 'element-ui'
//import Vue from 'vue'
//Vue.use(ElementUI)
//结束

// Special comment for theme configurator
// type|skipAutoTranslation|Category|Order
// skipAutoTranslation 1

/* Transition
-------------------------- */

$--all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 00.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* Color 需要的
-------------------------- */
//@white: #ffffff;
//@black: #000000;
////主题色
//@primary: #5374c0;
////高亮可点文字 Hover
//@primary-font-hover: #364b7c;
////主题 Hover 和 Active 色
//@primary-btn-hover: #364b7c;
////下拉菜单 /下拉选项 时间控件 hover出现清浅蓝色背景
//@theme-bg-hover: #f0f7ff;
//
////控件非法参数提示文字
//@danger: #ff3333;
////成功提示
//@success: #52c41a;
////警告提示
//@warning: #faad14;
////次级按钮背景色
//@info: #f3f4f6;
////次级按钮 Hover/ Active 背景色
//@info-btn-hover: #eff0f4;
//
////输入边框线/边框按钮边框色/平台框架的导航 ICON/
//@border-color-base: #e0e5f0;
////输入边框线 Hover 状态 /单多选边框
//@border-color-deep: #b6bece;
////单选未选中不可点击背景色
//@border-disabled-color: #e0e5f0;
//
////灰色 ICON
//@icon-color: #828992;
////正文/标题/ 一级 ICON
//@text-main: #222222;
////次级正文/副标题/深灰色 ICON
//@text-secondary: #5d6470;
////列表辅助文字/标签文字/灰色 ICON
//@text-aider: #828992;
////控件提示文字/空数据提示文字
//@text-placeholder-color: #aaafb5;
//
////不可用组件背景
//@disabled-bg: #f3f4f6;
////不可点文字/不可点 ICON
//@disabled-text-color: #aaafb5;
//
////列表表格等控件 Hover 背景色/控件内 Hover 背景色
//@table-list-hover: #f0f4ff;
////最底部背景色/模态弹框顶部标题背景色/表头颜色/填充搜索框背景色
//@box-header-bg: #f5f6fa;
//
////Hover 菜单列表阴影/ Toast 提示阴影
//@menu-box-shadow: 0 4px 12px 0 rgba(82, 92, 108, 0.16);
////卡片阴影
//@card-box-shadow: 0 0 4px 0 rgba(3, 27, 78, 0.16);
////输入框类型focus阴影
//@input-focus-box-shadow: 0 0 4px 0 rgba(117, 162, 255, 0.7);
//
////滚动条凹槽背景色
//@scroll-bg: #f5f6fa;
////滚动条bar背景色
//@scroll-bar-bg: #b6bece;

$table-tr-hover: #f0f4ff;
$table-th-bg: #f5f6fa;
$table-border-color: #eff0f4;
$disabled-bg: #f3f4f6;
$disabled-font-color: #aaafb5;
$input-icon-color: #828992;

$--color-primary: #5374c0 !default;
$--color-success: #52c41a !default;
$--color-warning: #faad14 !default;
$--color-danger: #ff3333 !default;
$--color-info: #f3f4f6 !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;

$--color-font-black: #222222 !default;
$--color-text-primary: $--color-font-black !default;
$--color-text-placeholder: #aaafb5 !default;
$--color-text-regular: #5d6470 !default;

/* Color 需要的截至
-------------------------- */

/* Typography需要的
-------------------------- */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;
$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;
$--font-weight-primary: 400 !default;
$--font-weight-secondary: 100 !default;
$--font-line-height-primary: 24px !default;
$--font-line-height-secondary: 16px !default;
$--font-color-disabled-base: #bbbbbb !default;

/* Typography需要的截至
-------------------------- */

/* Border需要的
-------------------------- */

$--border-color-base: #e0e5f0 !default;
$--border-color-deep: #b6bece !default;
$--border-color-disabled: #e0e5f0 !default;
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: rgba(182, 190, 206, 1) !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-deep: $--border-width-base $--border-style-base $--border-color-deep !default;
$--border-radius-base: 4px !default;
$--box-shadow-dark: 0 4px 12px 0 rgba(0, 0, 0, 0.15) !default;
$--border-radius-circle: 100% !default;

/* Border需要的截至
-------------------------- */

/* Checkbox需要的
-------------------------- */
$--border-radius-small: 2px !default;
$--checkbox-font-size: 14px !default;
$--checkbox-font-color: $--color-font-black !default;
$--checkbox-input-height: 14px !default;
$--checkbox-input-width: 14px !default;

$--checkbox-border-radius: $--border-radius-small !default;
$--checkbox-background-color: $--color-white !default;
$--checkbox-input-border: $--border-deep !default;

$--checkbox-disabled-border-color: $--border-color-deep !default;
$--checkbox-disabled-input-fill: $--border-color-base !default;
$--checkbox-disabled-icon-color: $--color-white !default;

$--checkbox-disabled-checked-input-fill: $--border-color-deep !default;
$--checkbox-disabled-checked-input-border-color: $--border-color-deep !default;
$--checkbox-disabled-checked-icon-color: $--color-white !default;

$--checkbox-checked-font-color: $--color-primary !default;
$--checkbox-checked-input-border-color: $--color-primary !default;
$--checkbox-checked-background-color: $--color-primary !default;
$--checkbox-checked-icon-color: $--color-white !default;

$--checkbox-input-border-color-hover: $--color-primary !default;

/* Checkbox需要的截至
-------------------------- */

/* Radio需要的
-------------------------- */

$--radio-font-size: $--font-size-base !default;
$--radio-font-weight: $--font-weight-primary !default;
$--radio-font-color: $--color-text-primary !default;
$--radio-input-height: 14px !default;
$--radio-input-width: 14px !default;

$--radio-input-border-radius: $--border-radius-circle !default;
$--radio-input-background-color: $--color-white !default;
$--radio-input-border: $--border-deep !default;

$--radio-input-border-color: $--border-color-deep !default;
$--radio-icon-color: $--color-white !default;

$--radio-disabled-input-border-color: $--border-color-deep !default;
$--radio-disabled-input-fill: $--border-color-base !default;
$--radio-disabled-icon-color: $--color-white !default;

$--radio-disabled-checked-input-border-color: $--border-color-deep !default;
$--radio-disabled-checked-input-fill: $--border-color-deep !default;
$--radio-disabled-checked-icon-color: $--color-white !default;

$--radio-checked-font-color: $--color-primary !default;
$--radio-checked-input-border-color: $--color-primary !default;
$--radio-checked-input-background-color: $--color-primary !default;
$--radio-checked-icon-color: $--color-primary !default;
$--radio-input-border-color-hover: $--color-primary !default;

/* Radio需要的 截至
-------------------------- */

/* Input需要的
-------------------------- */
$--input-font-size: $--font-size-base !default;
/// color||Color|0
$--input-font-color: $--color-font-black !default;
/// height||Other|4
$--input-width: 140px !default;
/// height||Other|4
$--input-height: 40px !default;
$--input-border: $--border-base !default;
$--input-border-color: $--border-color-base !default;
$--input-icon-color: $input-icon-color !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-background-color: $--color-white !default;
//input hover-border颜色
$--input-hover-border: $--border-color-deep !default;
$--input-border-color-hover: $--border-color-deep !default;
$--input-focus-border: $--color-primary !default;
$--input-focus-fill: $--color-white !default;

$--input-disabled-fill: $disabled-bg !default;
$--input-disabled-border: $--border-color-base !default;
$--input-disabled-placeholder-color: $disabled-font-color !default;

/* Input需要的截至
-------------------------- */

/* Select需要
-------------------------- */
$--select-disabled-border: $--border-color-base !default;
$--select-border-color-hover: $--border-color-deep !default;
$--select-font-size: $--font-size-base !default;
$--select-input-color: $--color-font-black !default;
$--select-input-font-size: 14px !default;
$--select-option-height: 32px !default;
$--select-input-focus-border-color: $--color-primary !default;

$--select-option-color: $--color-text-regular !default;
$--select-option-disabled-color: $--color-text-placeholder !default;
$--select-option-disabled-background: $disabled-bg !default;

$--select-option-hover-background: #f0f7ff !default;
$--select-option-selected-hover: $--color-primary !default;
$--select-option-selected-font-color: $--color-primary !default;

/* Select需要的截至
-------------------------- */

/* Switch需要
-------------------------- */
$--switch-on-color: $--color-primary !default;
$--switch-off-color: $--border-color-deep !default;
$--switch-font-size: $--font-size-base !default;
$--switch-core-border-radius: 11px !default;
$--switch-width: 44px !default;
$--switch-height: 22px !default;
$--switch-button-size: 18px !default;

/* Switch需要的截至
-------------------------- */

$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
$--color-success-light: rgba($--color-success, 0.9) !default;
$--color-warning-light: rgba($--color-warning, 0.9) !default;
$--color-danger-light: rgba($--color-danger, 0.9) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;
$--color-success-lighter: rgba($--color-success, 0.1) !default;
$--color-warning-lighter: rgba($--color-warning, 0.1) !default;
$--color-danger-lighter: rgba($--color-danger, 0.1) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|1|Font Color|2
$--color-text-secondary: #909399 !default;
/// color|1|Font Color|2  #c0c4cc
/// color|1|Border Color|3
$--border-color-light: #e4e7ed !default;
/// color|1|Border Color|3
$--border-color-lighter: #ebeef5 !default;
/// color|1|Border Color|3
$--border-color-extra-light: #f2f6fc !default;

// Background
/// color|1|Background Color|4
$--background-color-base: #f5f6fa !default;
$--background-color-option: #f0f6ff !default;

/* Link
-------------------------- */
$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;

$--border-radius-zero: 0 !default;
// Box-shadow
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
$--box-shadow-light: 0 4px 12px 0 rgba(82, 92, 108, 0.16) !default;

/* Fill
-------------------------- */
$--fill-base: $--color-white !default;

/* Size
--------------------------  */
$--size-base: 14px !default;

/* z-index
--------------------------  */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* Disable base
-------------------------- */
//$--background-color-base
$--disabled-fill-base: rgba(0, 0, 0, 0.15) !default;
$--disabled-color-base: $disabled-font-color !default;
$--disabled-border-base: rgba(0, 0, 0, 0.25) !default;

/* Icon
-------------------------- */
$--icon-color: #666666 !default;
$--icon-color-base: $--color-info !default;
$--checkbox-font-weight: $--font-weight-primary !default;

$--checkbox-button-checked-background-color: $--color-primary !default;
$--checkbox-button-checked-font-color: $--color-white !default;
$--checkbox-button-checked-border-color: $--color-primary !default;
/// height||Other|4
$--checkbox-bordered-height: 40px !default;
/// padding||Spacing|3
$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
/// padding||Spacing|3
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
$--checkbox-bordered-medium-input-height: 14px !default;
$--checkbox-bordered-medium-input-width: 14px !default;
/// height||Other|4
$--checkbox-bordered-medium-height: 36px !default;
$--checkbox-bordered-small-input-height: 12px !default;
$--checkbox-bordered-small-input-width: 12px !default;
/// height||Other|4
$--checkbox-bordered-small-height: 32px !default;
$--checkbox-bordered-mini-input-height: 12px !default;
$--checkbox-bordered-mini-input-width: 12px !default;
$--checkbox-bordered-mini-height: 28px !default;

$--radio-bordered-height: 40px !default;
$--radio-bordered-padding: 12px 20px 0 10px !default;
$--radio-bordered-medium-padding: 10px 20px 0 10px !default;
$--radio-bordered-small-padding: 8px 15px 0 10px !default;
$--radio-bordered-mini-padding: 6px 15px 0 10px !default;
$--radio-bordered-medium-input-height: 14px !default;
$--radio-bordered-medium-input-width: 14px !default;
$--radio-bordered-medium-height: 36px !default;
$--radio-bordered-small-input-height: 12px !default;
$--radio-bordered-small-input-width: 12px !default;
$--radio-bordered-small-height: 32px !default;
$--radio-bordered-mini-input-height: 12px !default;
$--radio-bordered-mini-input-width: 12px !default;
$--radio-bordered-mini-height: 28px !default;

/// fontSize||Font|1
$--radio-button-font-size: $--font-size-base !default;
/// color||Color|0
$--radio-button-checked-background-color: $--color-primary !default;
/// color||Color|0
$--radio-button-checked-font-color: $--color-white !default;
/// color||Color|0
$--radio-button-checked-border-color: $--color-primary !default;
$--radio-button-disabled-checked-fill: $--border-color-extra-light !default;

/// height||Other|4
$--select-multiple-input-color: #666666 !default;
$--select-close-hover-color: $--color-text-secondary !default;

/// color||Color|0
$--select-group-color: $--color-info !default;
$--select-group-height: 30px !default;
$--select-group-font-size: 12px !default;

$--select-dropdown-background: $--color-white !default;
$--select-dropdown-shadow: $--box-shadow-light !default;
$--select-dropdown-empty-color: #999999 !default;
/// height||Other|4
$--select-dropdown-max-height: 274px !default;
$--select-dropdown-padding: 6px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;
$--select-dropdown-border: solid 1px $--border-color-light !default;

/* Alert
-------------------------- */
$--alert-padding: 8px 16px !default;
/// borderRadius||Border|2
$--alert-border-radius: $--border-radius-base !default;
/// fontSize||Font|1
$--alert-title-font-size: 14px !default;
/// fontSize||Font|1
$--alert-description-font-size: 12px !default;
/// fontSize||Font|1
$--alert-close-font-size: 12px !default;
/// fontSize||Font|1
$--alert-close-customed-font-size: 13px !default;

$--alert-success-color: $--color-success-light !default;
$--alert-info-color: rgba($--color-primary, 0.9) !default;
$--alert-warning-color: $--color-warning-light !default;
$--alert-danger-color: $--color-danger-light !default;

/// height||Other|4
$--alert-icon-size: 16px !default;
/// height||Other|4
$--alert-icon-large-size: 28px !default;

/* MessageBox
-------------------------- */
/// color||Color|0
$--messagebox-title-color: $--color-info !default;
$--msgbox-width: 420px !default;
$--msgbox-border-radius: 4px !default;
/// fontSize||Font|1
$--messagebox-font-size: $--font-size-base !default;
/// fontSize||Font|1
$--messagebox-content-font-size: $--font-size-base !default;
/// color||Color|0
$--messagebox-content-color: $--color-info !default;
/// fontSize||Font|1
$--messagebox-error-font-size: $--font-size-base !default;
$--msgbox-padding-primary: 15px !default;
/// color||Color|0
$--messagebox-success-color: $--color-success !default;
/// color||Color|0
$--messagebox-info-color: $--color-primary !default;
/// color||Color|0
$--messagebox-warning-color: $--color-warning !default;
/// color||Color|0
$--messagebox-danger-color: $--color-danger !default;

/* Message
-------------------------- */
$--message-success-font-color: $--color-success !default;
$--message-info-font-color: $--color-info !default;
$--message-warning-font-color: $--color-warning !default;
$--message-danger-font-color: $--color-danger !default;

$--message-shadow: 0 4px 12px 0 rgba(82, 92, 108, 0.16) !default;
$--message-min-width: 278px !default;
$--message-background-color: $--color-white !default;
$--message-padding: 11px 16px 11px 16px !default;
/// color||Color|0
$--message-close-icon-color: $--color-text-placeholder !default;
/// height||Other|4
$--message-close-size: 16px !default;
/// color||Color|0
$--message-close-hover-color: $--color-text-secondary !default;

/* Notification
-------------------------- */
$--notification-width: 330px !default;
/// padding||Spacing|3
$--notification-padding: 14px 26px 14px 13px !default;
$--notification-radius: 8px !default;
$--notification-shadow: $--box-shadow-light !default;
/// color||Color|0
$--notification-border-color: $--border-color-lighter !default;
$--notification-icon-size: 24px !default;
$--notification-close-font-size: $--message-close-size !default;
$--notification-group-margin-left: 13px !default;
$--notification-group-margin-right: 8px !default;
/// fontSize||Font|1
$--notification-content-font-size: $--font-size-base !default;
/// color||Color|0
$--notification-content-color: $--color-text-regular !default;
/// fontSize||Font|1
$--notification-title-font-size: 16px !default;
/// color||Color|0
$--notification-title-color: $--color-text-primary !default;

/// color||Color|0
$--notification-close-color: $--color-text-secondary !default;
/// color||Color|0
$--notification-close-hover-color: $--color-text-regular !default;

/// color||Color|0
$--notification-success-icon-color: $--color-success !default;
/// color||Color|0
$--notification-info-icon-color: $--color-info !default;
/// color||Color|0
$--notification-warning-icon-color: $--color-warning !default;
/// color||Color|0
$--notification-danger-icon-color: $--color-danger !default;

$--input-fill-disabled: $--disabled-fill-base !default;
$--input-color-disabled: $--font-color-disabled-base !default;
$--input-clear-hover-color: $--color-text-secondary !default;
$--input-disabled-color: $--disabled-color-base !default;

/// borderRadius||Border|2
$--input-border-radius: $--border-radius-base !default;
/// color||Color|0
/// color||Color|0
/// color||Color|0
$--input-max-width: 314px !default;
/// fontSize||Font|1
$--input-medium-font-size: 14px !default;
/// height||Other|4
$--input-medium-height: 36px !default;
/// fontSize||Font|1
$--input-small-font-size: 14px !default;
/// height||Other|4
$--input-small-height: 32px !default;
/// fontSize||Font|1
$--input-mini-font-size: 12px !default;
/// height||Other|4
$--input-mini-height: 28px !default;

/* Cascader
-------------------------- */
/// color||Color|0
$--cascader-menu-font-color: $--color-text-regular !default;
/// color||Color|0
$--cascader-menu-selected-font-color: $--color-primary !default;
$--cascader-menu-fill: $--fill-base !default;
$--cascader-menu-font-size: $--font-size-base !default;
$--cascader-menu-radius: $--border-radius-base !default;
$--cascader-menu-border: solid 1px $--border-color-light !default;
$--cascader-menu-shadow: $--box-shadow-light !default;
$--cascader-node-background-hover: $--background-color-base !default;
$--cascader-node-color-disabled: $--color-text-placeholder !default;
$--cascader-color-empty: $--color-text-placeholder !default;
$--cascader-tag-background: #f0f2f5;

/* Group
-------------------------- */
$--group-option-flex: 0 0 (1/5) * 100% !default;
$--group-option-offset-bottom: 12px !default;
$--group-option-fill-hover: rgba($--color-font-black, 0.06) !default;
$--group-title-color: $--color-font-black !default;
$--group-title-font-size: $--font-size-base !default;
$--group-title-width: 66px !default;

/* Tab
-------------------------- */
$--tab-font-size: $--font-size-base !default;
$--tab-border-line: 1px solid #e4e4e4 !default;
$--tab-header-color-active: $--color-text-secondary !default;
$--tab-header-color-hover: $--color-text-regular !default;
$--tab-header-color: $--color-text-regular !default;
$--tab-header-fill-active: rgba($--color-font-black, 0.06) !default;
$--tab-header-fill-hover: rgba($--color-font-black, 0.06) !default;
$--tab-vertical-header-width: 90px !default;
$--tab-vertical-header-count-color: $--color-white !default;
$--tab-vertical-header-count-fill: $--color-text-secondary !default;

/* Button
-------------------------- */
/// fontSize||Font|1
$--button-font-size: $--font-size-base !default;
/// fontWeight||Font|1
$--button-font-weight: $--font-weight-primary !default;
/// borderRadius||Border|2
$--button-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-padding-vertical: 12px !default;
/// padding||Spacing|3
$--button-padding-horizontal: 20px !default;

/// fontSize||Font|1
$--button-medium-font-size: 16px;
/// borderRadius||Border|2
$--button-medium-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-medium-padding-vertical: 10px !default;
/// padding||Spacing|3
$--button-medium-padding-horizontal: 20px !default;

/// fontSize||Font|1
$--button-small-font-size: 14px !default;
$--button-small-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-small-padding-vertical: 7px !default;
/// padding||Spacing|3
$--button-small-padding-horizontal: 16px !default;
/// fontSize||Font|1
$--button-mini-font-size: 14px !default;
$--button-mini-border-radius: $--border-radius-base !default;
/// padding||Spacing|3
$--button-mini-padding-vertical: 7px !default;
/// padding||Spacing|3
$--button-mini-padding-horizontal: 15px !default;

/// color||Color|0
$--button-default-font-color: $--color-font-black !default;
/// color||Color|0
$--button-default-background-color: $--color-white !default;
/// color||Color|0
$--button-default-border-color: $--border-color-base !default;

/// color||Color|0
$--button-disabled-font-color: $--color-text-placeholder !default;
/// color||Color|0
$--button-disabled-background-color: $--color-white !default;
/// color||Color|0
$--button-disabled-border-color: $--border-color-disabled !default;

/// color||Color|0
$--button-primary-border-color: $--color-primary !default;
/// color||Color|0
$--button-primary-font-color: $--color-white !default;
/// color||Color|0
$--button-primary-background-color: $--color-primary !default;
/// color||Color|0
$--button-success-border-color: $--color-success !default;
/// color||Color|0
$--button-success-font-color: $--color-white !default;
/// color||Color|0
$--button-success-background-color: $--color-success !default;
/// color||Color|0
$--button-warning-border-color: $--color-warning !default;
/// color||Color|0
$--button-warning-font-color: $--color-white !default;
/// color||Color|0
$--button-warning-background-color: $--color-warning !default;
/// color||Color|0
$--button-danger-border-color: $--color-danger !default;
/// color||Color|0
$--button-danger-font-color: $--color-white !default;
/// color||Color|0
$--button-danger-background-color: $--color-danger !default;
/// color||Color|0
$--button-info-border-color: $--color-info !default;
/// color||Color|0
$--button-info-font-color: $--color-font-black !default;
/// color||Color|0
$--button-info-background-color: $--color-info !default;

//button的hover的时候 取该色的90%混合#ffffff的百分之10%
//mix(#ffffff,color)
$--button-hover-tint-percent: 10% !default;
//button的hover的时候 取该色的90%混合#000000的百分之10%
//mix(#000000,color)
$--button-active-shade-percent: 10% !default;

/* cascader
-------------------------- */
$--cascader-height: 200px !default;

/* Dialog
-------------------------- */
$--dialog-background-color: $--color-white !default;
$--dialog-box-shadow: none !default;
/// fontSize||Font|1
$--dialog-title-font-size: $--font-size-medium !default;
/// fontSize||Font|1
$--dialog-content-font-size: 14px !default;
/// fontLineHeight||LineHeight|2
$--dialog-font-line-height: $--font-line-height-primary !default;
/// padding||Spacing|3
$--dialog-padding-primary: 16px !default;

/* Table
-------------------------- */
/// color||Color|0
$--table-border-color: $table-border-color !default;
$--table-border: 1px solid $--table-border-color !default;
/// color||Color|0
$--table-font-color: $--color-font-black !default;
/// color||Color|0
$--table-header-font-color: $--color-font-black !default;
/// color||Color|0
$--table-row-hover-background-color: $table-tr-hover !default;
$--table-current-row-background-color: $table-tr-hover !default;
/// color||Color|0
$--table-header-background-color: $table-th-bg !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !default;

/* Pagination
-------------------------- */
$--pagination-font-size: 14px !default;
$--pagination-background-color: transparent !default;
$--pagination-font-color: $--color-text-regular !default;
$--pagination-button-width: 16px !default;
$--pagination-button-height: 16px !default;
$--pagination-border-radius: 4px !default;
$--pagination-button-color: $--color-primary !default;

/// color||Color|0
$--pagination-button-disabled-color: $--disabled-color-base !default;
/// color||Color|0
$--pagination-button-disabled-background-color: transparent !default;
/// color||Color|0
$--pagination-hover-color: $--color-primary !default;

/* Popup
-------------------------- */
/// color||Color|0
$--popup-modal-background-color: $--color-font-black !default;
/// opacity||Other|1
$--popup-modal-opacity: 0.5 !default;

/* Popover
-------------------------- */
/// color||Color|0
$--popover-background-color: $--color-white !default;
/// fontSize||Font|1
$--popover-font-size: $--font-size-base !default;
/// color||Color|0
$--popover-border-color: $--border-color-lighter !default;
$--popover-arrow-size: 6px !default;
/// padding||Spacing|3
$--popover-padding: 12px !default;
$--popover-padding-large: 18px 20px !default;
/// fontSize||Font|1
$--popover-title-font-size: 16px !default;
/// color||Color|0
$--popover-title-font-color: $--color-text-primary !default;

/* Tooltip
-------------------------- */
/// color|1|Color|0
$--tooltip-fill: $--color-text-primary !default;
/// color|1|Color|0
$--tooltip-color: $--color-white !default;
/// fontSize||Font|1
$--tooltip-font-size: 12px !default;
/// color||Color|0
$--tooltip-border-color: $--color-text-primary !default;
$--tooltip-arrow-size: 6px !default;
/// padding||Spacing|3
$--tooltip-padding: 10px !default;

/* Tag
-------------------------- */
/// color||Color|0
$--tag-info-color: $--color-font-black !default;
/// color||Color|0
$--tag-primary-color: $--color-primary !default;
/// color||Color|0
$--tag-success-color: $--color-success !default;
/// color||Color|0
$--tag-warning-color: $--color-warning !default;
/// color||Color|0
$--tag-danger-color: $--color-danger !default;
/// fontSize||Font|1
$--tag-font-size: 12px !default;
$--tag-border-radius: 4px !default;
$--tag-padding: 0 10px !default;

/* Tree
-------------------------- */
/// color||Color|0
$--tree-node-hover-background-color: $--background-color-base !default;
/// color||Color|0
$--tree-font-color: $--color-text-regular !default;
/// color||Color|0
$--tree-expand-icon-color: $--color-text-placeholder !default;

/* Dropdown
-------------------------- */
$--dropdown-menu-box-shadow: $--box-shadow-light !default;
$--dropdown-menuItem-hover-fill: #f0f7ff !default;
$--dropdown-menuItem-hover-color: $--color-primary !default;

/* Badge
-------------------------- */
/// color||Color|0
$--badge-background-color: $--color-danger !default;
$--badge-radius: 10px !default;
/// fontSize||Font|1
$--badge-font-size: 12px !default;
/// padding||Spacing|3
$--badge-padding: 6px !default;
/// height||Other|4
$--badge-size: 18px !default;

/* Card
-------------------------- */
/// color||Color|0
$--card-border-color: $--border-color-lighter !default;
$--card-border-radius: 4px !default;
/// padding||Spacing|3
$--card-padding: 20px !default;

/* Slider
-------------------------- */
/// color||Color|0
$--slider-main-background-color: $--color-primary !default;
/// color||Color|0
$--slider-runway-background-color: $--border-color-light !default;
$--slider-button-hover-color: mix($--color-primary, black, 97%) !default;
$--slider-stop-background-color: $--color-white !default;
$--slider-disable-color: $--color-text-placeholder !default;
$--slider-margin: 16px 0 !default;
$--slider-border-radius: 3px !default;
/// height|1|Other|4
$--slider-height: 6px !default;
/// height||Other|4
$--slider-button-size: 16px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

/* Steps
-------------------------- */
$--steps-border-color: $--disabled-border-base !default;
$--steps-border-radius: 4px !default;
$--steps-padding: 20px !default;

/* Menu
-------------------------- */
/// fontSize||Font|1
$--menu-item-font-size: $--font-size-base !default;
/// color||Color|0
$--menu-item-font-color: $--color-text-primary !default;
/// color||Color|0
$--menu-background-color: $--color-white !default;
$--menu-item-hover-fill: $--color-primary-light-9 !default;

/* Rate
-------------------------- */
$--rate-height: 20px !default;
/// fontSize||Font|1
$--rate-font-size: $--font-size-base !default;
/// height||Other|3
$--rate-icon-size: 18px !default;
/// margin||Spacing|2
$--rate-icon-margin: 6px !default;
$--rate-icon-color: $--color-text-placeholder !default;

/* DatePicker
-------------------------- */
$--datepicker-font-color: $--color-text-regular !default;
$--datepicker-off-font-color: $disabled-font-color !default;
$--datepicker-header-font-color: $--color-text-regular !default;
$--datepicker-icon-color: $--color-text-primary !default;
$--datepicker-border-color: $--border-color-base !default;

$--datepicker-inner-border-color: #e4e4e4 !default;
/// color||Color|0
$--datepicker-inrange-background-color: $--border-color-extra-light !default;
/// color||Color|0
$--datepicker-inrange-hover-background-color: $--border-color-extra-light !default;
/// color||Color|0
$--datepicker-active-color: $--color-primary !default;
/// color||Color|0
$--datepicker-hover-font-color: $--color-primary !default;
$--datepicker-cell-hover-color: #ffffff !default;

/* Loading
-------------------------- */
/// height||Other|4
$--loading-spinner-size: 42px !default;
/// height||Other|4
$--loading-fullscreen-spinner-size: 50px !default;

/* Scrollbar
-------------------------- */
$--scrollbar-background-color: rgba($--color-text-secondary, 0.3) !default;
$--scrollbar-hover-background-color: rgba($--color-text-secondary, 0.5) !default;

/* Carousel
-------------------------- */
/// fontSize||Font|1
$--carousel-arrow-font-size: 12px !default;
$--carousel-arrow-size: 36px !default;
$--carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
$--carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
/// width||Other|4
$--carousel-indicator-width: 30px !default;
/// height||Other|4
$--carousel-indicator-height: 2px !default;
$--carousel-indicator-padding-horizontal: 4px !default;
$--carousel-indicator-padding-vertical: 12px !default;
$--carousel-indicator-out-color: $--border-color-hover !default;

/* Collapse
-------------------------- */
/// color||Color|0
$--collapse-border-color: $--border-color-lighter !default;
/// height||Other|4
$--collapse-header-height: 48px !default;
/// color||Color|0
$--collapse-header-background-color: $--color-white !default;
/// color||Color|0
$--collapse-header-font-color: $--color-text-primary !default;
/// fontSize||Font|1
$--collapse-header-font-size: 13px !default;
/// color||Color|0
$--collapse-content-background-color: $--color-white !default;
/// fontSize||Font|1
$--collapse-content-font-size: 13px !default;
/// color||Color|0
$--collapse-content-font-color: $--color-text-primary !default;

/* Transfer
-------------------------- */
$--transfer-border-color: $--border-color-lighter !default;
$--transfer-border-radius: $--border-radius-base !default;
/// height||Other|4
$--transfer-panel-width: 200px !default;
/// height||Other|4
$--transfer-panel-header-height: 40px !default;
/// color||Color|0
$--transfer-panel-header-background-color: $--background-color-base !default;
/// height||Other|4
$--transfer-panel-footer-height: 40px !default;
/// height||Other|4
$--transfer-panel-body-height: 246px !default;
/// height||Other|4
$--transfer-item-height: 30px !default;
/// height||Other|4
$--transfer-filter-height: 32px !default;

/* Header
  -------------------------- */
$--header-padding: 0 20px !default;

/* Footer
-------------------------- */
$--footer-padding: 0 20px !default;

/* Main
-------------------------- */
$--main-padding: 20px !default;

/* Timeline
--------------------------  */
$--timeline-node-size-normal: 12px !default;
$--timeline-node-size-large: 14px !default;
$--timeline-node-color: $--border-color-light !default;

/* Backtop
-------------------------- */
/// color||Color|0
$--backtop-background-color: $--color-white !default;
/// color||Color|0
$--backtop-font-color: $--color-primary !default;
/// color||Color|0
$--backtop-hover-background-color: $--border-color-extra-light !default;

/* Link
-------------------------- */
/// fontSize||Font|1
$--link-font-size: $--font-size-base !default;
/// fontWeight||Font|1
$--link-font-weight: $--font-weight-primary !default;
/// color||Color|0
$--link-default-font-color: $--color-text-regular !default;
/// color||Color|0
$--link-default-active-color: $--color-primary !default;
/// color||Color|0
$--link-disabled-font-color: $--color-text-placeholder !default;
/// color||Color|0
$--link-primary-font-color: $--color-primary !default;
/// color||Color|0
$--link-success-font-color: $--color-success !default;
/// color||Color|0
$--link-warning-font-color: $--color-warning !default;
/// color||Color|0
$--link-danger-font-color: $--color-danger !default;
/// color||Color|0
$--link-info-font-color: $--color-info !default;

/* Calendar-------------------------- */
/// border||Other|4
$--calendar-border: $--table-border !default;
/// color||Other|4
$--calendar-selected-background-color: #f2f8fe !default;
$--calendar-cell-width: 85px !default;

/* Form
--------------------------  */
/// fontSize||Font|1
$--form-label-font-size: $--font-size-base !default;

/* Avatar-------------------------- */
/// color||Color|0
$--avatar-font-color: #ffffff !default;
/// color||Color|0
$--avatar-background-color: #c0c4cc !default;
/// fontSize||Font Size|1
$--avatar-text-font-size: 14px !default;
/// fontSize||Font Size|1
$--avatar-icon-font-size: 18px !default;
/// borderRadius||Border|2
$--avatar-border-radius: $--border-radius-base !default;
/// size|1|Avatar Size|3
$--avatar-large-size: 40px !default;
/// size|1|Avatar Size|3
$--avatar-medium-size: 36px !default;
/// size|1|Avatar Size|3
$--avatar-small-size: 28px !default;

/* Break-point-------------------------- */
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: ('xs' : (max-width: $--sm - 1), 'sm' : (min-width: $--sm), 'md' : (min-width: $--md), 'lg' : (min-width: $--lg), 'xl' : (min-width: $--xl)
);

$--breakpoints-spec: ('xs-only' : (max-width: $--sm - 1), 'sm-and-up' : (min-width: $--sm), 'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})", 'sm-and-down': (max-width: $--md - 1), 'md-and-up' : (min-width: $--md), 'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})", 'md-and-down': (max-width: $--lg - 1), 'lg-and-up' : (min-width: $--lg), 'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})", 'lg-and-down': (max-width: $--xl - 1), 'xl-only' : (min-width: $--xl),
);
