/* 多选框开始 */

.el-checkbox {
    &.is-bordered {
        &.el-checkbox--small {
            border-radius: 4px;
            padding: 7px 16px 7px 10px;
        }

        &.is-disabled {
            border-color: @border-color-base;
            background-color: @disabled-bg;
        }
    }
}
