///* 弹窗开始 */
.el-dialog__wrapper {
    text-align: center;
}

.el-dialog__wrapper::after {
    display: inline-block;
    width: 0;
    vertical-align: middle;
    content: "";
}

.el-dialog {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 !important;
    border-radius: 10px;
    max-width: calc(100% - 80px);
    max-height: calc(100% - 80px);
    text-align: left;
    background-color: #ffffff;
    transform: translate(-50%, -50%);

    .el-dialog__header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0 20px;
        height: 46px;
        line-height: 46px;
        text-align: left;
        background-color: @box-header-bg;

        .el-dialog__title {
            font-weight: bold;
            color: @text-main;
        }

        .el-dialog__headerbtn {
            i {
                font-size: 20px;
                font-weight: bold;
                color: @icon-color;
            }
        }
    }

    .el-dialog__body {
        overflow: auto;
        padding: 20px 20px 0 20px;
        max-height: calc(100vh - 40px * 2 - 54px - 46px - 20px);
        .scroll-bar(6px);
    }

    .el-dialog__footer {
        padding: 12px 20px;
        color: @text-main;

        > span {
            display: inline-block;
            height: 30px;
        }
    }
}
