.el-drawer {
    &:focus {
        outline: none;
    }

    .el-drawer__header {
        > span {
            outline: none;

            &:focus {
                outline: none;
            }
        }
    }
}
