/* 输入框 下拉框样式开始 */
.el-input__inner {
    padding: 0 12px;

    &.is-active, &:focus {
        box-shadow: @input-focus-box-shadow;
    }
}

.el-input {
    .el-input-group__prepend, .el-input-group__append {
        padding: 0 12px;
        color: @text-main;
        background-color: @box-header-bg;

        .el-input--prefix {
            .el-input__inner {
                padding-left: 30px;
            }
        }

        .el-select {
            margin: -10px -12px;

            .el-input__inner {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    .el-input__suffix {
        margin-top: 2px;
        height: calc(100% - 4px);
        line-height: calc(100% - 4px);

        .el-input__suffix-inner {
            .el-input__icon {
                position: absolute;
                right: 0;
                height: 100%;
                color: @icon-color;
            }

            .el-icon-circle-close {
                background-color: @white;

                &::before {
                    content: "\E79D";
                }
            }
        }
    }

    &.el-input--small {
        .el-input__suffix {
            .el-input__icon {
                line-height: 28px;
            }
        }
    }

    &.is-disabled {
        .el-input__prefix, .el-input__suffix {
            color: @disabled-text-color;
        }
    }

    &.is-exceed {
        .el-input__inner {
            padding-right: 50px;
            background-color: rgba(234, 94, 85, 0.04);
        }

        .el-input__count-inner {
            background-color: transparent;
        }
    }

    .el-input__count {
        color: @text-aider;
    }
}

.el-textarea {
    .el-input__count {
        color: @text-aider;
    }

    .el-textarea__inner {
        padding: 5px 12px;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;

        &:focus {
            box-shadow: @input-focus-box-shadow;
        }
    }

    &.is-exceed {
        .el-textarea__inner {
            background-color: rgba(234, 94, 85, 0.04);
        }

        .el-input__count {
            background-color: transparent;
        }
    }
}
