/* 分页按钮开始 */
.el-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    span:not([class*=suffix]), button {
        height: 28px;
        line-height: 28px;
    }

    &.is-background.el-pagination--small {
        .el-pager {
            height: 16px;

            li {
                min-width: 16px;
                height: auto;
                line-height: 16px;
            }
        }
    }

    &.is-background {
        .el-pager {
            li {
                min-width: auto;

                &.number {
                    &:hover, &.active {
                        color: @white;
                        background-color: @primary;
                    }
                }
            }
        }
    }

    .el-pager {
        li {
            border-radius: 2px;
            font-weight: normal;

            &.number {
                margin: 0 10px;
                font-weight: normal;

                &:hover, &.active {
                    color: @primary;
                }
            }

            &.btn-quicknext, &.btn-quickprev {
                color: @text-secondary;
            }
        }

        .more {
            line-height: 20px;

            &::before {
                line-height: 20px;
            }
        }
    }

    .btn-next, .btn-prev {
        color: @text-main;
    }

    &.simple {
        .el-pager {
            overflow: hidden;
            width: 60px;
            text-align: left;

            li {
                padding: 0;
                width: 24px;

                &.number {
                    display: none;
                    margin: 0;

                    &.active {
                        display: inline-block;
                        text-align: center;
                        color: @text-main;
                    }
                }

                &.el-icon-more {
                    display: none;
                }
            }
        }

        .total-pager {
            margin-left: -60px;
            font-weight: normal;
            color: @text-main;
        }
    }
}

.el-pagination button:disabled {
    background-color: transparent;
}

.el-pagination__sizes {
    .el-select .el-input {
        .el-input__inner {
            text-align: left;

            &:hover {
                border-color: @border-color-deep;
            }

            &:focus {
                border-color: @primary;
            }
        }

        &.el-input--mini {
            .el-input__icon {
                top: 4px;
                right: 12px;
                height: 16px;
                font-size: 16px;
                line-height: 16px;

                &::before {
                    content: "\e78f";
                }
            }
        }
    }
}

.el-pagination__jump {
    .el-pagination__editor {
        &.el-input {
            .el-input__inner {
                height: 28px;
            }
        }
    }
}

/* 分页按钮结束 */
