/* 分页按钮开始 */
.el-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    span:not([class*=suffix]), button {
        height: 28px;
        line-height: 28px;
    }

    &.is-background {
        .el-pager {
            li {
                min-width: auto;

                &.number {
                    &:hover, &.active {
                        border-radius: 2px;
                        color: @white;
                        background-color: @primary;
                    }
                }
            }
        }
    }

    .el-pager {
        li {
            font-weight: normal;

            &.number {
                margin: 0 10px;
                font-weight: normal;

                &:hover, &.active {
                    color: @primary;
                }
            }

            &.btn-quicknext, &.btn-quickprev {
                color: @text-secondary;
            }
        }

        .more {
            line-height: 20px;

            &::before {
                line-height: 20px;
            }
        }
    }

    .btn-next, .btn-prev {
        color: @text-main;
    }
}

.el-pagination button:disabled {
    background-color: transparent;
}

.el-pagination__sizes {
    .el-select .el-input {
        .el-input__inner {
            text-align: left;

            &:hover {
                border-color: @border-color-deep;
            }

            &:focus {
                border-color: @primary;
            }
        }

        &.el-input--mini {
            .el-input__icon {
                right: 12px;
                height: calc(100% - 6px);
                line-height: 20px;
            }
        }
    }
}

.el-pagination__jump {
    .el-pagination__editor {
        &.el-input {
            .el-input__inner {
                height: 28px;
            }
        }
    }
}

/* 分页按钮结束 */
