/* 常用滚动条样式 */
.scroll-bar(@width: 8px,@color:@scroll-bar-bg) {
    &::-webkit-scrollbar-thumb {
        z-index: 999;
        border-radius: 20px;
        background-color: @color;
        cursor: pointer;

        &:hover {
            background-color: @icon-color;
        }
    }

    &::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
        background-color: @scroll-bg;
    }

    &::-webkit-scrollbar {
        width: @width;
        height: @width;
    }

    &::-webkit-scrollbar-track {
        border-radius: 20px;
    }
}

.scroll-small-bar, .scroll-bar {
    overflow: auto;

    &::-webkit-scrollbar-thumb {
        z-index: 999;
        border-radius: 20px;
        background-color: @scroll-bar-bg;
        cursor: pointer;

        &:hover {
            background-color: @icon-color;
        }
    }

    &::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
        background-color: @scroll-bg;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 20px;
    }
}

.scroll-bar {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
}
