@primary: #3a70df;
@danger: #df3a25;
@success: #2fcd77;
@warning: #fba13b;
@white: #ffffff;
@black: #000000;
@textBlack: #383838;
@ccc: #cccccc;
@colorlist: @danger, @primary, @success, @warning;
@colorTypelist: danger, primary, success, warning;

/* 按钮样式开始 */
.setBtnColor(@type,@color) {
    .el-button--@{type}.is-plain {
        border-color: @color;
        color: @color;
        background: @white;

        &:hover, &:focus {
            border-color: mix(@white, @color, 20%);
            color: mix(@white, @color, 20%);
            background-color: mix(@white, @color, 90%);
        }

        &:active {
            border-color: mix(@black, @color, 20%);
            color: mix(@black, @color, 20%);
            background-color: mix(@white, @color, 80%);
        }
    }

    .el-button--@{type}.is-disabled {
        border-color: @ccc;
        color: @white;
        background: @ccc;
    }
}

.loopBtnColor(@i) when (@i < (length(@colorlist)+1)) {
    .setBtnColor(extract(@colorTypelist, @i), extract(@colorlist, @i));
    .loopBtnColor(@i+1);
}

.loopBtnColor(1);

/* 按钮样式结束 */

/* 输入框开始 */

/* 输入框结束 */

//*弹窗开始*/
.segma-dialog {
    .el-dialog {
        overflow: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0 !important;
        border-radius: 4px;
        max-width: calc(100% - 98px);
        max-height: calc(100% - 98px);
        transform: translate(-50%, -50%);

        .el-dialog__header {
            border-bottom: 1px solid #e5e5e5;
            padding: 12.5px 20px;
            text-align: center;

            .el-dialog__title {
                font-weight: bold;
            }

            .el-dialog__headerbtn {
                i {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .el-dialog__body {
            padding: 16px;
        }

        .el-dialog__footer {
            padding: 0 16px 16px 16px;
        }
    }
}

/* 弹窗结束 */

.el-pagination.is-background {
    .el-pager li {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        min-width: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #ffffff;
    }

    .btn-prev, .btn-next {
        border: none;
        min-width: 40px;
        background-color: #f5f5f5;

        &:hover {
            color: @primary;
        }

        &:disabled {
            color: #a6a6a6;
            background-color: #f5f5f5;
        }
    }
}
