@primary: #3a70df;
@danger: #df3a25;
@success: #2fcd77;
@warning: #fba13b;
@white: #ffffff;
@black: #000000;
@textBlack: #383838;
@ccc: #cccccc;
@colorlist: @danger, @primary, @success, @warning;
@colorTypelist: danger, primary, success, warning;
@sizelist: small, medium;
@sizeHeight: 32px, 40px;

/* 按钮样式开始 */
.setBtnColor(@type,@color) {
    .el-button--@{type}.is-plain {
        border-color: @color;
        color: @color;
        background: @white;

        &:hover, &:focus {
            border-color: mix(@white, @color, 20%);
            color: mix(@white, @color, 20%);
            background-color: mix(@white, @color, 90%);
        }

        &:active {
            border-color: mix(@black, @color, 20%);
            color: mix(@black, @color, 20%);
            background-color: mix(@white, @color, 80%);
        }
    }

    .el-button.is-disabled {
        border-color: @ccc;
        color: @white;
        background: @ccc;

        &:hover, &:focus {
            border-color: @ccc;
            color: @white;
            background: @ccc;
        }

        &:active {
            border-color: @ccc;
            color: @white;
            background: @ccc;
        }
    }
}

.loopBtnColor(@i) when (@i < (length(@colorlist)+1)) {
    .setBtnColor(extract(@colorTypelist, @i), extract(@colorlist, @i));
    .loopBtnColor(@i+1);
}

.loopBtnColor(1);

/* 按钮样式结束 */

//*弹窗开始*/
.segma-dialog.el-dialog__wrapper::after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.segma-dialog {
    .el-dialog {
        display: inline-block;
        margin-top: 0 !important;
        border-radius: 4px;
        max-width: calc(100% - 98px);
        max-height: calc(100% - 98px);
        vertical-align: middle;
        background-color: #ffffff;

        .el-dialog__header {
            border-bottom: 1px solid #e5e5e5;
            padding: 12.5px 20px;
            text-align: center;

            .el-dialog__title {
                font-weight: bold;
            }

            .el-dialog__headerbtn {
                i {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .el-dialog__body {
            padding: 16px;
        }

        .el-dialog__footer {
            padding: 0 16px 16px 16px;
        }
    }
}

/* 弹窗结束 */

/* alert开始 */
.segma-alert.el-message-box, .segma-message.el-message-box {
    padding-bottom: 0;

    .el-message-box__header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 20px;

        .el-message-box__title {
            font-size: 16px;
            font-weight: bold;
            line-height: 50px;
            color: rgba(56, 56, 56, 1);
        }
    }

    .el-message-box__btns {
        padding: 15px 20px;

        button {
            border-radius: 4px;
            height: 32px;
        }
    }
}

.segma-alert.el-message-box--center {
    .el-message-box__btns button {
        width: 100%;
    }
}

.segma-alert.el-message-box--center .el-message-box__btns {
    text-align: right;
}

/* alert结束 */
.setPagerLi(@type,@size) {
    .el-pagination.is-background.@{type} {
        .el-pager li, .btn-prev, .btn-next, .el-pagination__jump, .el-pagination__editor.el-input, .el-input__inner {
            min-width: @size;
            height: @size;
            line-height: @size;
        }
    }
}

/* 分页按钮开始 */

.loopPageLiColor(@i) when (@i < (length(@colorlist)+1)) {
    .setPagerLi(extract(@sizelist, @i), extract(@sizeHeight, @i));
    .loopPageLiColor(@i+1);
}

.loopPageLiColor(1);

.el-pagination.is-background {
    .el-pager li {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        min-width: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #ffffff;
    }

    .btn-prev, .btn-next {
        border: none;
        min-width: 32px;
        line-height: 32px;
        background-color: #f5f5f5;

        &:hover {
            color: @primary;
        }

        &:disabled {
            color: #a6a6a6;
            background-color: #f5f5f5;
        }
    }
}

/* 分页按钮结束 */

/* 表格样式开始 */

.el-table {
    .cell, th > .cell, th:first-child .cell, td:first-child .cell {
        padding-left: 12px;
    }

    th.is-sortable .cell {
        position: relative;
    }

    th, td {
        padding: 11px 0;
        font-weight: 400;
    }

    /* hover tooltip手势 */
    .el-tooltip {
        cursor: pointer;
    }

    /* 无数据的展示 */
    .el-table__empty-text {
        display: block;
        padding: 61px 0 20px 0;
        text-align: center;
        color: rgba(204, 204, 204, 1);
        background-image: url('../images/table/tableNoData.png');
        background-repeat: no-repeat;
        background-position: center 42px;
        background-size: 28px 32px;
    }

    /* 排序 */
    .caret-wrapper {
        position: absolute;
        right: 12px;
        width: 24px;
        height: 23px;
    }

    .sort-caret {
        display: inline-block;
        position: absolute;
        top: 0;
        border: none;
        width: 8px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 20px 13px;
    }

    .sort-caret.ascending {
        top: 5px;
        left: 8px;
        border-bottom-color: transparent;
        background-image: url("../images/table/sortUp.svg");
    }

    .sort-caret.descending {
        top: 5px;
        left: 0;
        border-top-color: transparent;
        background-image: url("../images/table/sortDown.svg");
    }

    .ascending .sort-caret.ascending {
        border-bottom-color: transparent;
        background-image: url("../images/table/sortUpActive.svg");
    }

    .descending .sort-caret.descending {
        border-top-color: transparent;
        background-image: url("../images/table/sortDownActive.svg");
    }
}

/* 表格样式结束 */
