@white: #ffffff;
@black: #000000;
//主题色
@primary: #5374c0;
//高亮可点文字 Hover
@primary-font-hover: #364b7c;
//主题 Hover 和 Active 色
@primary-btn-hover: #364b7c;
//下拉菜单 /下拉选项 时间控件 hover出现清浅蓝色背景
@theme-bg-hover: #f0f7ff;

//控件非法参数提示文字
@danger: #ff3333;
//成功提示
@success: #52c41a;
//警告提示
@warning: #faad14;
//次级按钮背景色
@info: #f3f4f6;
//次级按钮 Hover/ Active 背景色
@info-btn-hover: #eff0f4;

//输入边框线/边框按钮边框色/平台框架的导航 ICON/
@border-color-base: #e0e5f0;
//输入边框线 Hover 状态 /单多选边框
@border-color-deep: #b6bece;
//单选未选中不可点击背景色
@border-disabled-color: #e0e5f0;

//灰色 ICON
@icon-color: #828992;
//正文/标题/ 一级 ICON
@text-main: #222222;
//次级正文/副标题/深灰色 ICON
@text-secondary: #5d6470;
//列表辅助文字/标签文字/灰色 ICON
@text-aider: #828992;
//控件提示文字/空数据提示文字
@text-placeholder-color: #aaafb5;

//不可用组件背景
@disabled-bg: #f3f4f6;
//不可点文字/不可点 ICON
@disabled-text-color: #aaafb5;

//列表表格等控件 Hover 背景色/控件内 Hover 背景色
@table-list-hover: #f0f4ff;
//最底部背景色/模态弹框顶部标题背景色/表头颜色/填充搜索框背景色
@box-header-bg: #f5f6fa;

//Hover 菜单列表阴影/ Toast 提示阴影
@menu-box-shadow: 0 4px 12px 0 rgba(82, 92, 108, 0.16);
//卡片阴影
@card-box-shadow: 0 0 4px 0 rgba(3, 27, 78, 0.16);
//输入框类型focus阴影
@input-focus-box-shadow: 0 0 4px 0 rgba(117, 162, 255, 0.7);

//滚动条凹槽背景色
@scroll-bg: #f5f6fa;
//滚动条bar背景色
@scroll-bar-bg: #b6bece;
